@import '../../core/var.scss';

.hero {
  background-image: linear-gradient(to top, $background-clr-75, $scd-accent-clr), url('../../images/hero.jpg');
  background-position: center;
  background-size: cover;
  min-height: 45vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 0 10px;
  @media all and (min-width: 600px) {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(220, 195, 180, 0.5)),
      url('../../images/hero.jpg');
    min-height: 50vh;
    padding-top: 110px;
  }
  & .title {
    font-size: 4rem;
    font-weight: 400;
    font-family: $primary-title;
    text-align: center;
    color: $accent-clr;
    width: 270px;
    border-bottom: 1px solid $accent-clr;
    @media all and (min-width: 480px) {
      font-size: 4.8rem;
    }
    @media all and (min-width: 600px) {
      font-size: 5.2rem;
    }
    @media all and (min-width: 768px) {
      font-size: 6.5rem;
      width: 350px;
    }
    @media all and (min-width: 1024px) {
      font-size: 8rem;
      width: 550px;
    }
  }
  & .subtitle {
    &Item {
      font-family: $scd-title;
      font-weight: 700;
      font-size: 1.6rem;
      text-align: center;
      color: $accent-clr;
      letter-spacing: 1px;
    }
    @media all and (min-width: 480px) {
      font-size: 1.8rem;
    }
    @media all and (min-width: 600px) {
      font-size: 2rem;
      padding-left: 15px;
    }
    @media all and (min-width: 768px) {
      font-size: 2.3rem;
    }
    @media all and (min-width: 1024px) {
      font-size: 2.6rem;
    }
    &:last-of-type {
      padding-bottom: 20px;
    }
  }
}
