// fonts
$primary-title: 'Rancho', cursive;
$scd-title: 'Montserrat', sans-serif;
$main-text: 'Open Sans', sans-serif;

// colors
$main-clr: #c62f38;
$accent-clr: #3d405b;
$scd-accent-clr: #f4f1de;
$scd-accent-clr-45: rgba(244, 241, 222, 0.45);
$background-clr-75: rgba(244, 241, 222, 0.75);
$white: #fff;

//font sizes
$small-txt: 1.2rem;
$medium-txt: 1.5rem;
$large-txt: 2rem;
$larger-txt: 2.5rem;
$largest-txt: 4.5rem;
